<a href="https://colab.research.google.com/github/Kasia05/Colab-GIT/blob/colab-git-branch/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

Lists are used to store multiple items in a single variable. List items are ordered, changeable, and allow duplicate values.

In [ ]:
# CREATE
created_list = list(('apple', 'banana','cherry'))
created_list

['apple', 'banana', 'cherry']

In [ ]:
# TYP
thislist = [ 'apple', 'banana', 'apple']
thislist
print("Typ zmiennej", type(thislist))

Typ zmiennej <class 'list'>

In [ ]:
#ACCESS ITEMS
thislist = ["apple", "banana", "cherry"]
print(thislist[0])
print(thislist[-1])
print(thislist[1:2]) #! miedzy pierwszym a drugim elementem listy

apple
cherry
['banana']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4]) #! miedzy poczatkiem a czwartym elementem listy, bez kiwi tj. czwartego elementu
print(thislist[2:])

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1]) #! od czwartego od konca do piewszego, bez pierwszego

['orange', 'kiwi', 'melon']

In [ ]:
# CHECK IF ITEM EXISTS

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if 'banana' in thislist:
  print('Yes') #mozna zrobic funkcje

Yes

In [ ]:
#CHANGE RANGE OF ITEMS
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
#ADD ITEMS

# -- INSERT
thislistA = ["apple", "banana", "cherry"]
thislistA.insert(1, "watermelon")
print(thislistA)

# -- APPEND
thislistB = ["apple", "banana", "cherry"]
thislistB.append('orrage')
print(thislistB)

# -- EXTEND -- here you can add any iterable objects (list, tuples, sets, dictionaries)
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
thislist.extend("avocado")
print(thislist)

['apple', 'watermelon', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orrage']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'a', 'v', 'o', 'c', 'a', 'd', 'o']

In [ ]:
# REMOVE ITEM

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
# REMOVE INDEX

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

# -- LAST ITEM
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'cherry']
['apple', 'banana']

In [ ]:
# REMOVE WITH DEL

# -- INDEX
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

# -- COMPLETELY
thislist = ["apple", "banana", "cherry"]
del thislist  #! when printing shows an erros, is not defined = the list doesn't exist

['banana', 'cherry']

In [ ]:
# CLEAR THE LIST

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
# LOOP THROUGH A LIST

# -- FOR

thislist = ["apple", "banana", "cherry"]
for fruit in thislist:
  print(fruit)

apple
banana
cherry

In [ ]:
# LOOP THROUGH THE INDEX

# -- range() & len() ????

thislist = ["apple", "banana", "cherry"]
for fruit in range(len(thislist)):
  print(thislist[fruit])

apple
banana
cherry

In [ ]:
# WHILE LOOP  - przegladanie elementow w jakiejs sekwencji

thislist = ["apple", "banana", "cherry"]
i = 0 # poczatkowa wartosc indexu

while i < len(thislist): # warunek, dopoki index jest mniejszy od dlugosci listy
  print(thislist[i]) # wydrukuj element list o indeksie i
  i = i + 1 #! konieczne, zwiekszaj index o 1, bo sie nigdy nie skonczy

apple
banana
cherry

In [ ]:
# LOOPING USING LIST COMPREHENSION - shortest syntax for looping

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
# LIST COMPREHENSION
thislist = ["apple", "banana", "cherry"]

comp_list = [e for e in thislist if 'a' in e]
print(comp_list)

# -- FOR (wersja dluga)
newlist = []
for e in thislist:
  if 'a' in e[0]:
    newlist.append(e)

print(newlist)

['apple', 'banana']
['apple']

In [ ]:
# FINDDINGS

nowe_imiona =["Ania", "Basia", "Kasia", "Piotr"]

nowe_imiona.append("Kris") #!list.append() and insert takes exactly one argument, adds it at the end of the list
nowe_imiona.insert(2,"Selim") #!insert can ONLY place something inside the list when knows where by index
nowe_imiona.extend("Selim") # it will extend the name S e l i m

nowe_imiona

['Ania', 'Basia', 'Selim', 'Kasia', 'Piotr', 'Kris', 'S', 'e', 'l', 'i', 'm']

In [ ]:
nowe_imiona =["Ania", "Basia", "Kasia", "Piotr"]
extra_imiona =["Mateusz", "Karol", "Stasiu"]
nowe_imiona += extra_imiona #dodaje wyrazenia z listy do listy
nowe_imiona

['Ania', 'Basia', 'Kasia', 'Piotr', 'Mateusz', 'Karol', 'Stasiu']

In [ ]:
nowe_imiona =["Ania", "Basia", "Kasia", "Piotr"]
nowe_imiona.append(extra_imiona) #zalacza liste w liscie !!! zmienia uklad wyswietlenia listy, jeden pod drugim
#nowe_imiona.insert(2, extra_imiona) #zalacza liste w liscie
nowe_imiona

['Ania', 'Basia', 'Kasia', 'Piotr', ['Mateusz', 'Karol', 'Stasiu']]

In [ ]:
# FINDDINGS

nowe_imiona =["Ania", "Basia", "Kasia", "Piotr"]

#sztuczka odwrocenie listy!!!
nowe_imiona[::-1] #! NIE ZAPISUJE ZMIANY

nowe_imiona.reverse() #! odwroCONA lista - ZAPISUJE ZMIANE

# Zadania

In [ ]:
import numpy as np

transaction_list = [
    ("2023-01-15", 100.50),
    ("2023-01-20", 75.20),
    ("2023-02-05", 120.80),
    ("2023-02-15", 90.60),
    ("2023-03-10", 150.00),
    ("2023-03-20", 200.25),
    ]

# obliczanie sredniej wartosci transakji

sum_transactions = 0 #zmienna do przechowania sumy wartosci transakcji
date_transaction = transaction[0].transaction_list

for transaction in transaction_list:
    while date_transaction == MM
      sum_transactions += transaction[1] #dodawania wartosci, ktore znajdzie na kazdej liscie pod pierwszym indexem


transaction_mean = sum_transactions / len(transaction_list)
transaction_mean

print(type(transaction_list))

<class 'list'>

In [ ]:
# Potrzebna srednia dla kazdego miesiaca

# Dane: miesiac, suma transakcji, liczba transakcji w miesiacu
# Rownanie: suma transakcji[miesiac] / liczba transakcji


# Dane dotyczące transakcji w formie krotek (data, wartość)
transakcje = [
    ("2023-01-15", 100.50),
    ("2023-01-20", 75.20),
    ("2023-02-05", 120.80),
    ("2023-02-15", 90.60),
    ("2023-03-10", 150.00),
    ("2023-03-20", 200.25)
]

# Słownik do przechowywania sumy wartości transakcji dla każdego miesiąca
suma_transakcji = {} #suma transakcji w miesiacu

# Słownik do przechowywania liczby transakcji dla każdego miesiąca
liczba_transakcji = {}

### Iteracja przez date transakcji
for data, wartosc in transakcje: # Wywolanie dwoch zmiennych, zeby dosstac sie do danych krotki

    # Rozdzielenie daty na rok, miesiąc i dzień, a następnie formatowanie jako "YYYY-MM"
    rok, miesiac, _ = data.split("-") #! rok, miesiac, _ = używanie podkreślenia (_) jako zmiennej jest konwencją oznaczającą, że dana wartość jest ignorowana lub nie będzie używana.
    miesiac_rok = f"{rok}-{miesiac}"

    # Dodanie wartości transakcji do suma_transakcji {}
    if miesiac in suma_transakcji:
        suma_transakcji[miesiac] += wartosc
        liczba_transakcji[miesiac] += 1

    else:
        suma_transakcji[miesiac] = wartosc
        liczba_transakcji[miesiac] = 1

# Obliczenie średniej wartości transakcji dla każdego miesiąca
srednia_miesieczna = {}

for miesiac in suma_transakcji:
    srednia_miesieczna[miesiac] = suma_transakcji[miesiac] / liczba_transakcji[miesiac]

# Wydrukowanie wyników
print("Średnia wartość transakcji w każdym miesiącu:")
for miesiac in srednia_miesieczna:
    print(f"Miesiąc: {miesiac}, Średnia wartość: {srednia_miesieczna[miesiac]}")

Średnia wartość transakcji w każdym miesiącu:
Miesiąc: 01, Średnia wartość: 87.85
Miesiąc: 02, Średnia wartość: 105.69999999999999
Miesiąc: 03, Średnia wartość: 175.125

In [ ]:
#Inicjalizacja slownikow

suma_kosztow = {} # Ile widalismy na zakupy w konretnym dniu
liczba_zakupow = {} # Ile razy robilismy zakupy - mam paagonow

# Lista zakupów
zakupy = [
    ("2023-02-01", 10.50),
    ("2023-02-01", 5.75),
    ("2023-02-02", 20.00),
    ("2023-02-03", 15.00),
    ("2023-02-03", 5.50),
    ("2023-02-03", 8.25)
]

for data, koszt in zakupy:

    if data in suma_kosztow:
      suma_kosztow[data] += koszt
      liczba_zakupow[data] += 1

    else:
      suma_kosztow[data] = koszt
      liczba_zakupow[data] = 1

print("Suma kosztow zakupow w danym dniu:")
for data, koszt in suma_kosztow.items():
    print(f"{data}: {suma_kosztow[data]} zl")

print("Liczba zakupow w danym dniu:")
for data in liczba_zakupow:
  print(f"{data}: {liczba_zakupow[data]}")

Suma kosztow zakupow w danym dniu:
2023-02-01: 16.25 zl
2023-02-02: 20.0 zl
2023-02-03: 28.75 zl
Liczba zakupow w danym dniu:
2023-02-01: 2
2023-02-02: 1
2023-02-03: 3

# Tuple

In [ ]:
lista_adresow = [

    ("Boczkowska 7a", 100),
    ("Promienista 113"),
    ("Slowackiego 18")
]

lista_adresow[0] =   ("Boczkowska 10", 5000)
lista_adresow.append("Szkolna 3") # dodawanie do listy
lista_adresow.remove("Promienista 113") # usuwanie z listy



type(lista_adresow[1])

str

used to store multiple items in a single variable. is a collection which is ordered and unchangeable. Allows duplicate members.

In [ ]:
created_tuple = ('apple', 'banana','cherry')
created_tuple

('apple', 'banana', 'cherry')

# Set

used to store multiple items in a single variable. A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
thisset = {'apple', 'banana','cherry'}
thisset
print(type(thisset))

<class 'set'>

# Dictionaries

 is a collection which is ordered** and changeable. No duplicate members. (Python 3.7)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
type(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

dict

In [ ]:
mydict = {
    'name': 'Kasia',
    'age': 36,
    'eyes': 'green'
    }

print(mydict)

andict = dict(name = 'Ania', age = ' better do not ask', eyes ='to check' )
print(andict)

{'name': 'Kasia', 'age': 36, 'eyes': 'green'}
{'name': 'Ania', 'age': ' better do not ask', 'eyes': 'to check'}

In [ ]:
le_wagon_team = [
    {'name': 'Ben', 'age': 31, 'country': 'France', 'hobbies': ['coding', 'biking']},
    {'name': 'Quinn', 'age': 26, 'country': 'Ireland', 'hobbies': ['skiing']},
    {'name': 'Sasha', 'age': 24, 'country': 'Lebanon', 'hobbies': ['sports']},
    {'name': 'Alex', 'age': 28, 'country': 'Austria', 'hobbies': []}
]

print("Dlugosc slownika to:", len(le_wagon_team))
print("Typ zmiennej to:", type(le_wagon_team))

Dlugosc slownika to: 4
Typ zmiennej to: <class 'list'>

# GIT

In [27]:
!git config --global user.name "Kasia Fraszczak"
!git config --global user.email "kate.fraszczak@gmail.com"

!git clone https://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:x-oauth-basic@github.com/Kasia05/Colab-GIT.git

fatal: destination path 'Colab-GIT' already exists and is not an empty directory.

In [ ]:
!git add